<footer class="banner-container">
    <img class="footer-banner" src="assets/images/banners/footer.png" alt="footer-banner">
    <div class="text-container">
        <h2>Oyakata sushi</h2>
        <p class="white-line"></p>
        <div class="row">
            <img src="assets/images/icons/Phone.png" alt="phone-icon">
            <p>01-XX-XX-XX-XX</p>
        </div>

        <div class="row">
            <img src="assets/images/icons/Location.png" alt="Location-icon">
            <p>xx rue de Paris, 75000, Paris</p>
        </div>

        <div class="row">
            <img src="assets/images/icons/Facebook.png" alt="Facebook-icon">
            <img src="assets/images/icons/Instagram.png" alt="Instagram-icon">
            <img src="assets/images/icons/TwitterX.png" alt="Twitter-icon">
            
        </div>
    </div>
</footer>