<section class="first-section">
    <div class="text-container">
        <div class="circle-container">
            <img class="circle" src="assets/images/pages-pictures/cercle.png" alt="circle-picto">
            <h2>Le restaurant</h2>
            <div class="first-section-red-underline"></div>
        </div>

        <div class="content-container">
            <p>Lorem ipsum dolor sit amet consectetur. 
                Viverra varius ullamcorper ultricies 
                dolor eget vel ultricies. Sed nisi sit 
                quis fusce. Viverra ullamcorper nibh 
                auctor semper aliquam lorem. Massa 
                cursus sed parturient scelerisque 
                velit suscipit at faucibus mattis.
            </p>
        </div>
    </div>

    <div class="grid-container">
        <div class="pictures-container">
            <img src="assets/images/pages-pictures/homepage-restaurant1.png" alt="restaurant photo">
            <img src="assets/images/pages-pictures/homepage-restaurant2.png" alt="restaurant photo">
            <img src="assets/images/pages-pictures/homepage-restaurant3.png" alt="restaurant photo">
            <img src="assets/images/pages-pictures/homepage-restaurant4.png" alt="restaurant photo">
        </div>
    </div>
</section>


<section class="second-section">
    <div class="text-wrapper">
        <div class="text-container">
            <div class="circle-container">
                <img class="circle" src="assets/images/pages-pictures/cercle.png" alt="circle-picto">
                <h2 class="second-section-title">Le chef</h2>
                <div class="second-red-underline"></div>
            </div>
    
            <div class="second-section-content-container">
                <p>Lorem ipsum dolor sit amet consectetur. 
                    Viverra varius ullamcorper ultricies 
                    dolor eget vel ultricies. Sed nisi sit 
                    quis fusce. Viverra ullamcorper nibh 
                    auctor semper aliquam lorem. Massa 
                    cursus sed parturient scelerisque 
                    velit suscipit at faucibus mattis.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur. 
                    Viverra varius ullamcorper ultricies 
                    dolor eget vel ultricies. Sed nisi sit 
                    quis fusce. Viverra ullamcorper nibh 
                    auctor semper aliquam lorem. Massa 
                    cursus sed parturient scelerisque 
                    velit suscipit at faucibus mattis.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="third-section">

    <div class="third-section-text-container">
        <div class="circle-container">
            <img class="circle" src="assets/images/pages-pictures/cercle.png" alt="circle-picto">
            <h2>Savoir faire</h2>
            <div class="third-section-red-underline"></div>
        </div>

        <div class="third-section-content-container">
            <p>Lorem ipsum dolor sit amet consectetur. 
                Viverra varius ullamcorper ultricies 
                dolor eget vel ultricies. Sed nisi sit 
                quis fusce. Viverra ullamcorper nibh 
                auctor semper aliquam lorem. Massa 
                cursus sed parturient scelerisque 
                velit suscipit at faucibus mattis.
            </p>

            <p>Lorem ipsum dolor sit amet consectetur. 
                Viverra varius ullamcorper ultricies 
                dolor eget vel ultricies. Sed nisi sit 
                quis fusce. Viverra ullamcorper nibh 
                auctor semper aliquam lorem. Massa 
                cursus sed parturient scelerisque 
                velit suscipit at faucibus mattis.
            </p>
        </div>
    </div>


    <div class="third-section-pictures-container">
        <div class="picture-card-left">
            <img class="third-section-picture" src="assets/images/pages-pictures/homepage-savoirfaire1.png" alt="restaurant photo">
        </div>

        <div class="picture-card-right">
            <img src="assets/images/pages-pictures/homepage-savoirfaire2.png" alt="restaurant photo">
        </div>

    </div>

</section>