<section>
    <div class="text-container">
        <div class="circle-container">
            <img class="circle" src="assets/images/logos/logo.png" alt="circle-picto">
        </div>

        <div class="title-container">
            <h2>Le restaurant</h2>

            <p>Lorem ipsum dolor sit amet consectetur. 
                Viverra varius ullamcorper ultricies 
                dolor eget vel ultricies. Sed nisi sit 
                quis fusce. Viverra ullamcorper nibh 
                auctor semper aliquam lorem. Massa 
                cursus sed parturient scelerisque 
                velit suscipit at faucibus mattis.
            </p>
        </div>



    </div>

    <div class="pictures-container">
        <img src="assets/images/pages-pictures/homepage-restaurant1.png" alt="restaurant photo">
        <img src="assets/images/pages-pictures/homepage-restaurant2.png" alt="restaurant photo">
        <img src="assets/images/pages-pictures/homepage-restaurant3.png" alt="restaurant photo">
        <img src="assets/images/pages-pictures/homepage-restaurant4.png" alt="restaurant photo">
    </div>
</section>


<section class="second-section">


    
</section>