<div class="payment-success-container">
    <section class="text-container">
        <div class="content-wrapper">
            <h1>DESOLE</h1>
            <div class="horizontal-line"></div>
            <h3>Il semble que nous ayons rencontré une erreur</h3>
            <a (click)="onGoToHomePage()">Retourner au menu principal</a>
        </div>
    </section>
    
    <section class="picture-container">
        <img src="assets/images/banners/payment-failed-banner.png" alt="payment failed banner">
    </section>
</div>

