<header>
    <div class="logo-container">
        <img class="logo" (click)="onGoToHomePage()" src="assets/images/logos/logo.png" alt="logo">
    </div>
    
    <nav>
        <a class="tab-link" (click)="onGoToMenuPage()">MENUS</a>
        <a class="tab-link" (click)="onGoToSushiListPage()">SUSHIS A LA CARTE</a>
        <a class="tab-link" href="">CONTACT</a>
        <a class="red-button" (click)="onGoToReservationPage()">RESERVER</a>
        <div class="icon-container">
            <a *ngIf="!isLoggedIn" (click)="onGoToLogInPage()"><img class="login-icon" src="assets/images/icons/login-icon.png" alt="login icon"></a>
            <a *ngIf="isLoggedIn"><img class="login-icon" src="assets/images/icons/basket-icon.png" alt="basket icon"></a>
            <a *ngIf="isLoggedIn" (click)="logout()"><img class="login-icon" src="assets/images/icons/logout-icon.png" alt="logout icon"></a>
            <a *ngIf="isLoggedIn" (click)="onGoToProfilePage()">Profil</a>
        </div>
    </nav>
    
</header>