<div class="payment-success-container">
    <section class="text-container">
        <div class="content-wrapper">
            <h1>MERCI BEAUCOUP</h1>
            <div class="horizontal-line"></div>
            <h3>Votre commande a été prise en compte</h3>
            <a (click)="onGoToHomePage()">Retourner au menu principal</a>
        </div>
    </section>
    
    <section class="picture-container">
        <img src="assets/images/banners/payment-success-banner.png" alt="payment banner">
    </section>
</div>

