<div class="title-container">
    <h2 class="menu-page-title">Nos Menus</h2>
    <img src="assets/images/pages-pictures/cercle.png" alt="circle-picture">
</div>

<div *ngIf="categories" class="categories-container">
    <div *ngFor="let category of categories">
        <span class="category-button"
        [ngClass]="{'selected': isSelectedCategory === category.name }"
        (click)="onSelectByCategory(category.name)"><i class="{{ category.icon }}"></i><span class="category-text">{{ category.name }}</span></span>
    </div>
</div>


<app-search-bar></app-search-bar>

<app-loading *ngIf="isLoading" [loading]="isLoading"></app-loading>

<div *ngIf="menus" class="menu-grid">

    <div *ngFor="let menu of menus" class="menu-thumbnail" (click)="onGoToDetailMenu(menu.id)" menuBorderCard>
        <img class="menu-picture" [src]="'assets/images/menus-thumbnails/' + menu.picture" [alt]="'menu picture-' + menu.picture">

        <div class="menu-name-container">
            <img src="assets/images/pages-pictures/cercle.png" alt="circle-picture">
            <div class="menu-text-container">
                <h3>{{ menu.name | uppercase}}</h3>
                <p>Menu {{ menu.category.name }} <i class="card-menu-icon" class="{{ menu.category.icon }}"></i></p>
            </div>
        </div>
    </div>
</div>

<app-pagination
    [totalNumberOfPages]="totalNumberOfPages$ |async"
    [currentPageNumber]="currentPageNumber"
    (selectedPage)="onGetCurrentPageMenus($event)"
>
</app-pagination>