.pagination-bar-container {
    width: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 50px;
    font-family: 'calibri';
    font-size: 1.5rem;
}