<div *ngIf="categories" class="categories-container">
    <div *ngFor="let category of categories">
        <span class="category-button"
        [ngClass]="{'selected': isSelectedCategory === category.name }"
        (click)="onSelectByCategory(category.name)"><i class="{{ category.icon }}"></i><span class="category-text">Sushi {{ category.name }}</span></span>
    </div>
</div>

<app-search-bar></app-search-bar>

<div *ngIf="sushis" class="sushis-grid">

    <div *ngFor="let sushi of sushis" class="sushi-thumbnail">
        <img class="sushi-picture" [src]="'assets/images/sushis-thumbnails/' + sushi.picture" [alt]="'sushi picture-' + sushi.picture">

        <div class="sushi-name-container">
            <img src="assets/images/pages-pictures/cercle.png" alt="circle-picture">
            <h3>{{ sushi.name | uppercase}}</h3>
        </div>
        <div class="sushi-informations-container">
            <p><span class="bold">Catégorie: </span>{{ sushi.category.name }} <i class="{{ sushi.category.icon }}"></i></p>
            <p><span class="bold">Nombre de pièce:</span> {{ sushi.numberOfPiece }}</p>
            <p><span class="bold">Prix: </span>{{ sushi.price | currency: 'EUR'}}</p>
        </div>
    </div>
</div>

<app-pagination
    [totalNumberOfPages]="totalNumberOfSushis$ |async"
    [currentPageNumber]="currentPageNumber"
    (selectedPage)="onGetCurrentPageSushi($event)"
></app-pagination>