<div class="profile-page">
    <div class="title-container">
        <h2 class="menu-page-title">PROFIL</h2>
        <img src="assets/images/pages-pictures/cercle.png" alt="circle-picture" class="profile-picture">
    </div>

    <div *ngIf="customer" class="customer-informations">
        <h1 class="customer-name">{{ customer.firstName| uppercase }} {{ customer.familyName | uppercase }}</h1>
        <div class="customer-details">
            <p><span class="label">Email:</span> {{ customer.email }}</p>
            <p><span class="label">Adresse:</span> {{ customer.addressLine }}</p>
            <p><span class="label">Code postal:</span> {{ customer.zipCode }}</p>
            <p><span class="label">Ville:</span> {{ customer.city }}</p>
        </div>
    </div>

    <div class="section reservations-section">
        <h3 class="section-title">Mes réservations</h3>
        <div *ngIf="customerReservations$ | async as reservations">
            <div class="reservation" *ngFor="let reservation of reservations">
                <p><span class="label">Numéro:</span> {{ reservation.reservationNumber }}</p>
                <p><span class="label">Nombre de personnes:</span> {{ reservation.numberOfPersons }}</p>
                <p><span class="label">Date:</span> {{ reservation.reservationDate | date:'dd/MM/yyyy HH:mm' }}</p>
                <div class="horizontal-line"></div>
            </div>
        </div>
        <div *ngIf="customerHasReservations === false">
            <p>Aucune réservation enregistrée.</p>
        </div>
    </div>

    <div class="section orders-section">
        <h3 class="section-title">Mes commandes</h3>
        <div *ngIf="customerOrders$ | async as orders">
            <div class="order" *ngFor="let order of orders">
                <p><span class="label">Numéro:</span> {{ order.commandeNumber }}</p>
                <p><span class="label">Référence:</span> {{ order.reference }}</p>
                <p><span class="label">Date:</span> {{ order.createdDate | date:'dd/MM/yyyy HH:mm' }}</p>
                <p><span class="label">Statut:</span> {{ order.status }}</p>
                <div class="horizontal-line"></div>
            </div>
        </div>
        <div *ngIf="customerhasOrder === false">
            <p>Aucune commande enregistrée.</p>
        </div>
    </div>

    <div class="homepage-link">
        <a (click)="onGoToHomePage()">Retour à la page d'accueil</a>
    </div>
</div>
